@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body{
    background-image: url(../../assets/clouds.png), url(../../assets/chart.png);
    background-color: #f4f7ff;
    background-position: left bottom, 50% -120%;
    background-repeat: repeat, no-repeat;    
}

.title{
    position: absolute;
    left: 42.5%;
    top: 35%;
    width: fit-content;
    display: flex;
    flex-direction: column;

    /* make text non selectable */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.title div{
    color: #bee53f;
    font-size: 6vw;
    width: fit-content;
}


.button-text {
    text-transform: none;
}

.login-btn{
    width: 10vw;
    border: none;
    color: black;
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 1vw;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    min-width: 70px;
}

.login-btn:hover{
    background-color: #ccef56;
}

.login-btn:active{
    background-color: #a7cf24;
}

/* navbar */
.burger-img {
    margin-left: -2.6vw;
}

@media (max-width:780px) {
    .burger-img {
        margin-left: -3vw;
    }
}

@media (max-width:700px) {
    .burger-img {
        margin-left: -3.4vw;
    }
}

@media (max-width:610px) {
    .burger-img {
        margin-left: -3.8vw;
    }
}

@media(max-width:580px){
    .burger-img {
        margin-left: -4vw;
    }
}

@media (max-width:545px) {
    .burger-img {
        margin-left: -4.2vw;
    }
}

@media (max-width:500px) {
    .burger-img {
        margin-left: -4.6vw;
    }
    .title{
        position: absolute;
        left: 40%;
        top: 40%;
        display: flex;
        flex-direction: column;
    }
}